.qualities
  padding: 78px 0 111px
  @media #{$_md}
    padding: 70px 0 100px
  @media #{$_sm}
    padding: 50px 0 80px
  @media #{$_xs}
  &__wrap
  &__title
  &__subtitle
    // margin-bottom: 47px
    font-size: 18px
    font-weight: 500
    line-height: 25px
    text-align: center
    @media #{$_md}
      font-size: 16px
      line-height: 20px
    @media #{$_sm}
      max-width: 350px
      margin: 10px auto 0
    @media #{$_xs}
      max-width: 250px
  &__list
    display: flex
    margin-top: 40px
    justify-content: center
    @media #{$_md}
      flex-wrap: wrap
    @media #{$_sm}
      margin-top: 15px
    @media #{$_xs}
  &__item
    display: flex
    width: (100% / 3)
    margin-top: 40px
    // padding-right: 30px
    @media #{$_md}
      width: (100% / 2)
    @media (max-width: 667px)
      width: 100%
      margin: 40px auto 0
      padding-right: 0
      flex-direction: column
    @media #{$_xs}
    &-icon
      height: 85px
      margin-right: 22px
      @media #{$_md}
      @media #{$_sm}
        margin: 0 auto
      @media #{$_xs}
      svg
        height: 100%
    &:first-child .qualities__item-icon
      padding-top: 4px
      margin-left: -2px
      margin-right: 24px
      @media (max-width: 667px)
        margin: 0 auto
    &:nth-child(2n) .qualities__item-icon
      padding-top: 2px
      padding-left: 7px
      @media (max-width: 667px)
        margin: 0 auto
    &:nth-child(3n) .qualities__item-icon
      padding-left: 16px
      @media (max-width: 667px)
        margin: 0 auto
    &-content
      max-width: 276px
      @media (max-width: 667px)
        margin: 0 auto
    &-title
      letter-spacing: 0.1px
    &-text
      margin-top: 5px
      font-size: 16px
      font-weight: 500
      line-height: 22px
      letter-spacing: 0.1px
      @media #{$_md}
        font-size: 14px
        line-height: 20px
      @media #{$_sm}
        max-width: 250px
        margin-top: 7px
        margin-left: auto
        margin-right: auto
        // text-align: center
      @media #{$_xs}
