.wichargeback
  padding: 88px 0 107px
  @media #{$_md}
  @media #{$_sm}
  @media #{$_xs}
  &__wrap
  &__question
    display: flex
    // justify-content: space-between
    align-items: center
    margin-bottom: 48px
    @media #{$_md}
    @media #{$_sm}
      flex-direction: column
    @media #{$_xs}
    &-img
      background-color: gray //delete
      position: relative
      width: 30.56%
      overflow: hidden
      @media #{$_sm}
        margin-bottom: 20px
      @media #{$_xs}
      &-wrap
        width: 100%
        height: 0
        padding-top: 95.443%
      &-img
        position: absolute
        display: block
        height: 100%
        width: 100%
    &-context
      margin-left: 7.8%
      @media #{$_md}
      @media #{$_sm}
      @media #{$_xs}
    &-title
    &-text
    &-btn
      height: 44px
      width: 191.8px
      border-radius: 26px
      font-size: 16px
      font-weight: 600
      letter-spacing: 1.07px
      line-height: 22px
      text-align: center
      text-transform: uppercase
      @media #{$_md}
        width: 160px
        height: 40px
        font-size: 14px
      @media #{$_sm}
      @media #{$_xs}
  &__purpose
    display: flex
    justify-content: space-between
    align-items: center
    @media #{$_md}
    @media #{$_sm}
      flex-direction: column
    @media #{$_xs}
    &-context
      @media #{$_sm}
        order: 2
      @media #{$_xs}
    &-title
    &-text
      @media #{$_md}
        max-width: 300px
        margin-right: 30px
      @media #{$_sm}
      @media #{$_xs}
    &-btn
      height: 44px
      width: 271.3px
      border-radius: 26px
      font-size: 16px
      font-weight: 600
      letter-spacing: 1.07px
      line-height: 22px
      text-align: center
      text-transform: uppercase
    &-img
      background-color: gray //delete
      position: relative
      width: 50.573%
      @media #{$_sm}
        margin-bottom: 20px
      @media #{$_xs}
        order: 1
      &-wrap
        width: 100%
        height: 0
        padding-top: 72.537%
      &-img
        position: absolute
        display: block
        height: 100%
        width: 100%
  &-subtitle
    margin-bottom: 22px
    font-size: 24px
    font-weight: 600
    line-height: 33px
    @media #{$_md}
      margin-bottom: 18px
      font-size: 20px
      line-height: 25px
    @media #{$_sm}
    @media #{$_xs}
  &-text
    max-width: 548px
    margin-bottom: 46px
    font-size: 16px
    font-weight: 500
    line-height: 22px
    @media #{$_md}
      max-width: 400px
      margin-bottom: 35px
      font-size: 14px
      line-height: 18px
    @media #{$_sm}
    @media #{$_xs}