html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/***********************MEDIA QUERIES***********************/

/***********************COLORS & FONTS***********************/

@font-face {
  font-family: "AvenirNext-DemiBold";
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "AvenirNext-Medium";
  src: url("../fonts/AvenirNext-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: "AvenirNext-Medium", Helvetica, sans-serif;
  color: black;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1248px;
  height: 100%;
  padding: 0 12px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.header {
  width: 100%;
  height: 85px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.21);
}

.header__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: block;
  font-size: 23px;
  font-weight: 600;
  line-height: 17px;
  color: #2A2A2A;
}

.header__nav {
  margin-left: auto;
  margin-right: 0;
}

.header__nav-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  margin-right: 49px;
}

.header__nav-item-link {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.89px;
  line-height: 22px;
  transition: color .3s;
}

.header__nav-item-link:hover {
  color: #FFCF42;
}

.header__callme-btn {
  height: 44px;
  width: 160px;
  border-radius: 26px;
  background-color: #FFCF42;
}

.header__callme-btn:hover {
  box-shadow: 0 2px 14px 0 #FFCF42;
}

@media (max-width: 1024px) {
  .header {
    height: 65px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
    height: auto;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 15px 0;
  }
}