include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include first-screen/first-screen
include qualities/qualities
include features/features
include wichargeback/wichargeback
include aboutus/aboutus
include faq/faq


doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Title",
				"author": "Oleh Devolp",
				"description": "Landing"
			})
			
		+b.BODY.page
			block first-screen
				+first-screen()

			block qualities
				+qualities()
				
			block features
				+features()

			block wichargeback
				+wichargeback()

			block aboutus
				+aboutus()

			block faq
				+faq()
			
			block content
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				//- script( src="libs/fancybox/dist/jquery.fancybox.min.js")
				script( src="libs/swiper/dist/js/swiper.min.js")
				//- script( src="libs/parsleyjs/dist/parsley.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
