mixin features()
  +b.SECTION.features
    +e.wrap
      +e.header
        +e.header-wrap
          +e.H2.title Feat—
            br
            |ures
          +e.BUTTON.freecons-btn.add-s-btn Free Consultation
      +e.list
        +e.list-wrap
          +e.item
            +e.item-icon
            +e.item-content
              +e.H3.item-title Quick Processing
              +e.P.item-text We process our clients’ cases with efficiency, care and attention to details. 
          +e.item
            +e.item-icon
            +e.item-content
              +e.H3.item-title Why Let Scammers Get Away
              +e.P.item-text Mastercard and Visa give consumers the right to dispute charges. If you know how to use your rights, you can get your money back!
          +e.item
            +e.item-icon
            +e.item-content
              +e.H3.item-title Banks Make Mistakes, Too
              +e.P.item-text If you present your case incorrectly, your bank will reject you. We instruct you according to Mastercard and Visa dispute policies and chargeback rules and procedures.
          +e.item
            +e.item-icon
            +e.item-content
              +e.H3.item-title Merсhants Will Defend Themselves
              +e.P.item-text Fortunately for you, we already know what they will say. Our strategy is always one step ahead of theirs. 

