.features
  padding: 75px 0 105px
  background-color: #F4F5F9
  &__wrap
  &__title
    margin-bottom: 40px
  &__freecons-btn
    display: block
    height: 45px
    width: 318px
    margin: 40px auto 0
    border: 2px solid #000000
    border-radius: 42.5px
    font-size: 20px
    font-weight: 600
    letter-spacing: 0.87px
    line-height: 27px
    text-transform: uppercase
  &__list
    &-wrap
      display: flex
      flex-wrap: wrap
  &__item
    display: flex
    width: 50%
    height: 151px
    justify-content: center
    align-items: center
    &-content
    &-icon
      display: flex
      width: 62px
      height: 66px
      margin-right: 20px
      justify-content: center
      align-items: center
    &-title
      margin-bottom: 10px
      line-height: 22px
    &-text
      max-width: 488px
    &:nth-child(1)
      border-right: 1px solid #DBDCDF
      border-bottom: 1px solid #DBDCDF
    &:nth-child(2)
      border-bottom: 1px solid #DBDCDF
      border-left: 1px solid #DBDCDF
    &:nth-child(3n)
      border-top: 1px solid #DBDCDF
      border-right: 1px solid #DBDCDF
    &:nth-child(4n)
      border-top: 1px solid #DBDCDF
      border-left: 1px solid #DBDCDF

.icon-feature-1
.icon-feature-2
.icon-feature-3
.icon-feature-4