.features
  height: 649px
  &__wrap
    display: flex
    justify-content: center
    // align-items: stretch
  &__header
    display: flex
    width: calc(100% / 2 - 80px)
    min-height: 100%
    justify-content: flex-end
    padding-top: 59px
    padding-right: 120px
    background-color: #373C75
    &-wrap
      padding-bottom: 32px
  &__title
    font-size: 110px
    font-weight: 600
    letter-spacing: 4.81px
    line-height: 128px
    text-transform: uppercase
    color: white
  &__freecons-btn
    height: 77px
    width: 350px
    margin-top: 225px
    border-radius: 42.5px
    // box-shadow: 0 7px 14px 0 rgba(183,231,93,0.38)
    font-size: 20px
    font-weight: 600
    letter-spacing: 0.87px
    line-height: 27px
    text-transform: uppercase
    text-align: center
  &__list
    display: flex
    width: calc(100% / 2 + 80px)
    height: 100%
    justify-content: flex-start
    background-color: #F4F5F9
    &-wrap
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      // align-items: center
  &__item
    display: flex
    margin-bottom: 35px
    &-content
    &-icon
      width: 62px
      height: 56px
    &-title
      max-width: 225px
      font-size: 24px
      font-weight: 600
      line-height: 33px
    &-text
      max-width: 209px
      margin-top: 24px
      font-size: 16px
      font-weight: 500
      line-height: 22px