.header
  width: 100%
  height: 85px
  background-color: #FFFFFF
  box-shadow: 0 2px 14px 0 rgba(0,0,0,0.21)
  @media #{$_md}
    height: 65px
  @media #{$_sm}
    padding: 20px 0
    height: auto
  @media #{$_xs}
    padding: 15px 0
  &__wrap
    display: flex
    height: 100%
    // justify-content: space-between
    align-items: center
  &__logo
    margin-right: 40px
    display: block
    font-size: 23px
    font-weight: 600
    line-height: 17px
    color: #2A2A2A
    white-space: nowrap
  &__menu-btn
    display: none
    @media #{$_sm}
      display: block
    @media #{$_xs}
  &__nav
    margin-left: auto
    margin-right: 0
    &-list
      display: flex
    &-item
      display: flex
      align-items: center
      margin-right: 49px
      text-align: center
      @media #{$_lg}
        margin-right: 30px
      @media #{$_md}
        margin-right: 20px
      @media #{$_sm}
      @media #{$_xs}
      &-link
        font-size: 16px
        font-weight: 500
        letter-spacing: 1px
        // line-height: 22px
        transition: color .3s
        text-align: center
        @media #{$_lg}
        @media #{$_md}
          font-size: 14px
        @media #{$_sm}
        @media #{$_xs}
        &:hover
          color: $ly-color
  &__callme-btn
    height: 44px
    width: 160px
    border-radius: 26px
    font-size: 18px
    font-weight: 600
    line-height: 25px
    letter-spacing: 1.07px
    text-transform: uppercase
    color: #111111
    transition: box-shadow .3s
    @media #{$_lg}
    @media #{$_md}
      height: 40px
      width: 150px
      font-size: 16px
    @media #{$_sm}
    @media #{$_xs}