.aboutus
  padding: 91px 0 107px
  &__wrap
  &__title
    margin-bottom: 23px
    font-size: 24px
    font-weight: 600
    line-height: 33px
  &__text
    display: flex
    margin-bottom: 47px
    &-block
      width: 50%
      padding-right: 14%
      font-size: 16px
      font-weight: 500
      line-height: 22px
  &__btn
    width: 350.81px
    height: 44px
    border-radius: 26px
    font-size: 16px
    font-weight: 600
    letter-spacing: 1.07px
    line-height: 22px
    text-transform: uppercase
    text-align: center