mixin aboutus()
  +b.SECTION.aboutus
    .container
      +e.wrap
        +e.title About us
        +e.text
          +e.P.text-block 
            |Our team is comprised of professionals
            |with extensive financial, legal and regulatory
            |backgrounds.  We have made it our business
            |to assist the victims of scams in recovering 
            |their money.
          +e.P.text-block
            |If you've been victimized 
            |by Binary Options or Forex Brokers 
            |- we can assist you.  Please click below 
            |to learn more about our fund recovery services. 
        +e.BUTTON.btn.add-s-btn Recover Your Funds Now
  
