.first-screen
  position: relative
  width: 100%
  background-color: #815bbf
  &__wrap
    padding: 0 
    padding-left: 100px
    padding-top: 7.2%
    height: 447px
  &__title
    // margin-top: 88px
    font-size: 44px
    font-weight: 600
    line-height: 60px
    color: white
  &__subtitle
    max-width: 414px
    margin-top: 8px
    font-size: 16px
    font-weight: 500
    line-height: 23px
    color: white
  &__freecons-btn
    width: 318px
    height: 77px
    margin-top: 56px
    border-radius: 43px
    font-size: 23px
    font-weight: 500
    line-height: 31px
    text-align: center
    color: $lb-color
    &:hover
      box-shadow: 0 7px 14px 0 rgba(183,231,93,0.38)
  &__decor
    position: absolute
    bottom: 29px
    right: 220px
    &-img
      background-image: url(../re.ge)
    &-text
      position: relative
      botom: 0
      max-width: 301px
      opacity: 0.7
      font-size: 14px
      font-weight: 500
      line-height: 23px
      text-align: right
      color: white
  &__offer
    height: 85px
    background-color: #ECECEC
    &-cont
      display: flex
      height: 100%
      width: 100%
      justify-content: space-between
      align-items: center
    &-container
      display: flex
      height: 100%
      width: 544px
      justify-content: space-between
      align-items: center
    &-wrapper
      width: 544px
    // &-slide
    //   display: flex
    //   // justify-content: center
    //   align-items: center
    &-slide
      display: flex
      justify-content: center
      align-items: center
      width: 544px
  &__offer-nav-prev
    margin-left: 191+17px
  &__offer-nav-next
    margin-right: 191+17px